{% extends "preview.html" %}
{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Payment Successful</h1>
    <h6 style="width: 60%; margin: 0 auto">
        Thank you. <br>
        Your order has been set. You may check your mailbox or spam folder eventually.
    </h6>
    <p> Join our affiliate program and earn 25% whenever you refer new customers on BetaTrader for lifetime!</br>
        Register
        now and check available coupons you may share </p>
    <div>
        <a href="register">Affiliate program</a>
    </div>
</div>
<br />
{% endblock %}